@import url("/css/base.css");

:root {
  margin-left: 15vw;
  margin-right: 20vw;
  font-size: 16px;
  cursor: default;
}

.return { text-align: center; }
.tableSeparator { width: 50px; }

.titleCaption {
  margin-right: 25vw;
  font-size: 18px;
}

.cat {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: -10vw;
  margin-right: 3vw;
}

.flag {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.centerFlag {
  position: relative;
  top: -9px;
}

.love, .okay, .bad {
  color: #ffffff;
  font-weight: 400;
}

.love {
  color: #ff95bb;
  font-weight: 600;
}

.bad {
  font-size: 14px;
  opacity: 50%;
}

.love::before,
.okay::before,
 .bad::before {
  padding-right: 4px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.love::before { background-image: url('/img/about/icon-love.png'); }
.okay::before { background-image: url('/img/about/icon-okay.png'); }
 .bad::before {
  background-image: url('/img/about/icon-bad.png');
  width: 14px;
  height: 14px;
  opacity: 50%;
  margin-right: 2px;
}

td { vertical-align: top; }
h1 { font-size: 48px; }
h3 {
  margin: 5px 0px;
  font-size: 24px;
}
