body {
  font-weight: 400;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  height: 100%;
}

footer { font-size: 16px; }

.spacer { padding-top: 15vh }

.caption {
  width: 150px;
}

.titleContainer {
  margin: 0px 5vw;
}

#imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  z-index: 2;
  font-size: 72px;
  font-weight: 600;
  text-align: justify;
}

.gradient {
  text-decoration: underline var(--accent);
  background: linear-gradient(130deg, var(--accent), var(--accent));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  transition: 0.5s;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  left: -10px;
}

.gradient:hover {
  text-decoration: underline var(--accent);
  -webkit-text-fill-color: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  font-weight: 700;
}

.image {
  width: 300px;
  padding: 0px;
}

.image img {
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--accent);
  transition: 0.5s;
}

.image img:hover {
  background: linear-gradient(130deg, var(--accent), var(--accent));
  padding-bottom: 13px;
  translate: 0px -3px;
}

.image div {
  font-size: 16px;
  padding: 10px;
}
