@import url("/css/base.css");

:root {
  font-size: 4vh;
}

#r6 td, #r5 td,
#r4 td, #r3 td,
#r2 td, #r1 td {
  min-width: 5vh;
  height: 5vh;
  border: 1px dimgray solid;
}

#r1 td { border-bottom-color: white; }
.first { border-left-color:  white !important; }
.final { border-right-color: white !important; }

#board {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  user-select: none;
}

.p1, .p2 {
  width: 4vh;
  height: 4vh;
  border: 2px white solid;
  border-radius: 3vh;
  vertical-align: middle;
}
span.p1, span.p2 { display: inline-block; }

.p1 { background-color: white; }
.p2 { background-color: black; }
