.background {
  position: absolute;
  top: 62px;
  left: 0;
  z-index: -1;
  filter: blur(5px);
  height: calc(100vh - 62px);
  margin: 0;
  padding: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  padding: 0px 10vw;
}

.return {
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 99999;
}

.space {
  font-size: 0;
  display: block;
  height: 40px;
}

.end {
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-size: 64px;
  text-align: center;
}

.container {
  user-select: none;
  transition: .25s;
  text-align: center;
  height: 400px;
  width: 400px;
  font-size: 20px;
  background-color: var(--background);
  border: var(--secondary) 1px solid;
  border-top: var(--accent) 4px solid;
  position: absolute;
  top: 0;
  left: 0;
}

.yes, .no {
  font-size: 16px;
  font-family: Arial;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 3px;
  line-height: 26px;
  cursor: pointer;
  display: inline-block;
  max-width: 350px;
  transition: 0.25s;
}

#e1 {
  z-index: 100;
  transform: translate(calc(50vw - 200px), calc(50vh - 200px));
}

#e2 {
  z-index: 99;
  transform: translate(calc(49.5vw - 200px), calc(49.5vh - 200px));
}

#e3 {
  z-index: 98;
  transform: translate(calc(49vw - 200px), calc(49vh - 200px));
}

#e4 {
  z-index: 97;
  transform: translate(calc(48.5vw - 200px), calc(48.5vh - 200px));
}

#e5 {
  z-index: 96;
  transform: translate(calc(48vw - 200px), calc(48vh - 200px));
}

#e6 {
  z-index: 95;
  transform: translate(calc(47.5vw - 200px), calc(47.5vh - 200px));
}

#e7 {
  z-index: 94;
  transform: translate(calc(47vw - 200px), calc(47vh - 200px));
}

#e8 {
  z-index: 93;
  transform: translate(calc(46.5vw - 200px), calc(46.5vh - 200px));
}

#e9 {
  z-index: 92;
  transform: translate(calc(46vw - 200px), calc(46vh - 200px));
}

#e10 {
  z-index: 91;
  transform: translate(calc(45.5vw - 200px), calc(45.5vh - 200px));
}

#e11 {
  z-index: 90;
  transform: translate(calc(45vw - 200px), calc(45vh - 200px));
}

#e12 {
  z-index: 89;
  transform: translate(calc(44.5vw - 200px), calc(44.5vh - 200px));
}
