#c {
  --base-size: 0.14vw;
  margin: 0px;
  font-size: calc(16 * var(--base-size));
}

body::-webkit-scrollbar{ display: none; }

#periodicTable {
  margin: 5vh auto;
}

#periodicTable td {
  display: inline-block;
  padding: 0px;
  width: calc(37 * var(--base-size));
  height: calc(35 * var(--base-size));
  transition: scale 0.5s;
  z-index: 1;
  position: relative;
  cursor: default;
}

#periodicTable td:hover {
  z-index: 2;
  scale: 150%;
  transition: scale 0.3s;
}

#periodicTable td  > span {
  display: table-cell;
  border: calc(1.5 * var(--base-size)) var(--text) solid;
  min-width: calc(32 * var(--base-size));
  height: calc(32 * var(--base-size));
  text-align: center;
  border-radius: calc(3 * var(--base-size));
  padding: 0px;
  vertical-align: middle;
}

.empty {
  opacity: 0%;
  pointer-events: none;
}

.pt6cr { height: calc(45 * var(--base-size)) !important; }
.pt2cc { width: calc(45 * var(--base-size))  !important; }

.atomic {
  position: relative;
  font-size: calc(6 * var(--base-size));
  top: calc(-34 * var(--base-size));
  left: calc(5 * var(--base-size));
  font-family: Arial;
}

.weight {
  position: relative;
  font-size: calc(6 * var(--base-size));
  top: calc(-41 * var(--base-size));
  left: calc(5 * var(--base-size));
  width: calc(28 * var(--base-size));
  text-align: right;
  font-family: Arial;
}

.name {
  position: relative;
  font-size: calc(5 * var(--base-size));
  width: calc(31 * var(--base-size));
  top: calc(-24.5 * var(--base-size));
  left: calc(3 * var(--base-size));
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy, .key {
  padding: 10px;
  font-size: 18px;
}

.keyVal {
  width: 1em;
  height: 1em;
  border-radius: 0.3em;
}

input {
  resize: horizontal;
  width: 500px;
  display: inline-block;
  overflow: hidden;
}

.nonmetal  { background-color: #4b73b499; }
.noble     { background-color: #a25d6d99; }
.alkali    { background-color: #4b9fb499; }
.alkaline  { background-color: #ad526599; }
.metalloid { background-color: #bf914099; }
.posttrans { background-color: #619e9299; }
.trans     { background-color: #6a609f99; }
.lanth     { background-color: #019dfe99; }
.actinide  { background-color: #b56e4a99; }
.unknown   { background-color: #7a7c8599; }
