@import url("/css/base.css");

table { border-collapse: collapse; }
td, th { border: 1px #ffffff solid; padding: 0px 4px; }

#other { width: 405px; }
#buttonContainer { width: 405px; text-align: center; }
