/* dark mode */
body {
  --text: #d6f7ff;
  --background: #000c0f;
  --primary: #8be9fe;
  --secondary: #07343f;
  --accent: #06abd4;
}

/* light mode */
body[data-theme="light"] {
  --text: #002129;
  --background: #f1fcff;
  --primary: #299aab;
  --secondary: #b7e9f5;
  --accent: #29e2e5;
}
