/* dark mode */
body {
  --text: #eeeeee;
  --background: #080808;
  --primary: #929292;
  --secondary: #414141;
  --accent: #6d6d6d;
}

/* light mode */
body[data-theme="light"] {
  --text: #121212;
  --background: #e3e3e3;
  --primary: #676767;
  --secondary: #bdbdbd;
  --accent: #919191;
}
