/* dark mode */
body {
  --text: #fef9ec;
  --background: #140f00;
  --primary: #ff8c00;
  --secondary: #51330e;
  --accent: #f85530;
}

/* light mode */
body[data-theme="light"] {
  --text: #130e01;
  --background: #fffaeb;
  --primary: #fe9914;
  --secondary: #ffd6ab;
  --accent: #ff784b;
}
