/* dark mode */
body {
  --text: #f6f5e4;
  --background: #040401;
  --primary: #e53ca1;
  --secondary: #2f0f24;
  --accent: #8fc549;
}

/* light mode */
body[data-theme="light"] {
  --text: #1b1a09;
  --background: #fefefb;
  --primary: #c11a7e;
  --secondary: #f0d0e5;
  --accent: #80b63a;
}
