/* dark mode */
body {
  --text: #fbeaf2;
  --background: #11040a;
  --primary: #e274a9;
  --secondary: #500e2e;
  --accent: #e93a8e;
}

/* light mode */
body[data-theme="light"] {
  --text: #15040c;
  --background: #fbeef4;
  --primary: #8b1d52;
  --secondary: #fab5d6;
  --accent: #bd2870;
}
