/* dark mode */
body {
  --text: #f8e9fb;
  --background: #0f0311;
  --primary: #783e84;
  --secondary: #3d0c45;
  --accent: #9e52ad;
}

/* light mode */
body[data-theme="light"] {
  --text: #130416;
  --background: #faeefc;
  --primary: #9e52ad;
  --secondary: #edc1f6;
  --accent: #b57bc1;
}
