/* dark mode */
body {
  --text: #ffd6d6;
  --background: #0d0000;
  --primary: #fe8b8b;
  --secondary: #450101;
  --accent: #f40101;
}

/* light mode */
body[data-theme="light"] {
  --text: #290000;
  --background: #fff0f8;
  --primary: #f06060;
  --secondary: #ffc7c7;
  --accent: #dc1010;
}
